table,
th,
td,
form {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.info-field {
  color: gold;
  text-align: center;
}
.form-container {
  text-align: left;
  margin-top: 20px;
  margin-right: auto; 
  margin-left: 0%; 
}
.form-container form {
  display: inline-block;
  text-align: left;
}
.form-container form div {
  margin-bottom: 10px; 
}
h3{
  text-align: left;
}