<%- include('partials/_header') %> 
<%- include('partials/_nav') %>
<h2>Developers Page</h2>
<h3>Developers:</h3>
<!-- Display all current developers -->
<%- include('partials/_dataTable', {data: developers}) %>
<%- include('partials/_footer') %>
