<%- include('partials/_header') %> 
<%- include('partials/_nav') %>
<h2>Platforms Page</h2>
<h3>Platforms:</h3>
<!-- Display all current platforms -->
<%- include('partials/_dataTable', {data: platforms}) %>
<%- include('partials/_footer') %>