<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Team 22</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <header>
      <h1><strong>Game Quest: Video Game Catalog</strong></h1>
    </header>
<!-- Below this is the body of the page and footer goes at bottom -->
